default_language_version:
  python: python3

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff (autofix)
        entry: ruff check
        language: python
        types: [python]
        args: ["--fix", "--unsafe-fixes", "."]
        pass_filenames: true

      - id: black
        name: black
        entry: black
        language: python
        types: [python]
        args: ["."]
        pass_filenames: true

      - id: check-dag-id
        name: "(Custom) dag_id existente"
        entry: python .hooks/check_id_existente.py
        language: python
        types: [python]
        files: ^(projeto_precommit/dags|ingestao_produto/dags)/.*\.py$
        #files: \.py$
        pass_filenames: false

      - id: isort
        name: isort (organiza imports)
        entry: isort
        language: python
        types: [python]
        args: ["--profile", "black","."]
        pass_filenames: true

      #- id: pytest
        #name: pytest (valida versao)
        #entry: pytest
        #language: system
        #types: [python]
        #args: ["-q", "projeto_precommit/tests/test_validacao_version.py"]
        #pass_filenames: false
        #exclude: ^projeto_precommit/tests/

      - id: python-version-check
        name: python version check
        entry: python projeto_precommit/tests/test_validacao_version.py
        language: python
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
        args: [--fix=lf]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        name: "Verificação de Credenciais"
        args:
          - --baseline
          - .secrets.baseline
